In [1]:
import pandas as pd 
from sklearn.datasets import load_iris
def load_data(File):
    return pd.read_csv(File,header=None,sep = ',',index_col=False)

# Import The Data
original_data= load_data("E:/GENG5511 research/research/dataset/OBS-Network-DataSet_2.csv")
# Take a Quick Look at the Data Structure
original_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,3,0.822038,0.190381,1000,0.004815,19.031487,19.038129,0.809619,822.03750,177.96250,1440,90324,73128,130066560,105304320,0.146594,0.780936,0.001838,0.023455,3
1,9,0.275513,0.729111,100,0.004815,72.889036,72.911141,0.270889,27.55125,72.44875,1440,9048,2451,13029120,3529440,0.517669,0.242451,0.002236,0.460725,1
2,3,0.923707,0.090383,900,0.000633,9.035834,9.038339,0.909617,831.33600,68.66400,1440,81276,73930,117037440,106459200,0.058749,0.886758,0.001751,0.000000,2
3,9,0.368775,0.637710,100,0.000552,63.737843,63.770999,0.362290,36.87750,63.12250,1440,9048,3278,13029120,4720320,0.522922,0.324522,0.001776,0.439255,1
4,3,0.905217,0.108670,800,0.000497,10.864208,10.866977,0.891330,724.17375,75.82625,1440,72228,64379,104008320,92705760,0.076069,0.869009,0.001767,0.000000,2

In [2]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1075 entries, 0 to 1074
Data columns (total 20 columns):
0     1075 non-null int64
1     1075 non-null float64
2     1075 non-null float64
3     1075 non-null int64
4     1075 non-null float64
5     1075 non-null float64
6     1075 non-null float64
7     1075 non-null float64
8     1075 non-null float64
9     1075 non-null float64
10    1075 non-null int64
11    1075 non-null int64
12    1075 non-null int64
13    1075 non-null int64
14    1075 non-null int64
15    1075 non-null float64
16    1075 non-null float64
17    1075 non-null float64
18    1075 non-null float64
19    1075 non-null int64
dtypes: float64(12), int64(8)
memory usage: 168.0 KB

In [3]:
# To store purely features data from dataset
data= original_data.iloc[:, :19].values

# To store purely label from dataset
label= original_data.iloc[:,-1]

# Split the data first Without feature scaling
print("Training_size: {}; Test_size: {}" .format(len(data),len(label)))

Training_size: 1075; Test_size: 1075

In [4]:
from sklearn import feature_selection
import sys
import time
import numpy as np
from sklearn.datasets import load_iris
from scipy.sparse import rand
from skfeature.function.structure import tree_fs

start = time.clock()
#df = load_iris()
#y = df.target
#data = load_iris().data # shape=(150,4)

data, y = data,label
print(data.shape)

idx1 = np.array([[-1, -1, 1],[1, 9, np.sqrt(50)], [10, 19, np.sqrt(50)]]).T
#print(idx1)
idx2 = idx1.astype(int)
#print(idx2)

# simulate the dataset
X = data
# obtain the ground truth of the simulated dataset
#y = df.target
# specify the regularization parameter of regularization parameter of L2 norm for the non-overlapping group
z = 0.01

# perform feature selection and obtain the feature weight of all the features
w, obj, value_gamma = tree_fs.tree_fs(X, y, z, idx2, verbose=True)
print(w)

end = time.clock()
print(end-start)

(1075, 19)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:9: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead
  if __name__ == '__main__':

obj at iter 1: 2208.6598172975664
obj at iter 2: 1975.8710360618645
obj at iter 3: 1808.5833928050374
obj at iter 4: 1705.830188693632
obj at iter 5: 1655.0495522096028
obj at iter 6: 1636.5311364942127
obj at iter 7: 1633.0851299120773
[ 6.20732771e-15  5.48462406e-16  5.04425402e-16  2.49282749e-13
  1.31434839e-18  5.05646759e-14  5.06246509e-14  5.37998455e-16
  1.21570994e-13  1.27711755e-13  1.50372677e-12  2.25347707e-11
  1.15428450e-11  3.24500699e-08 -1.33103463e-09  3.70831361e-16
  4.90025600e-16  1.08699975e-18  1.38285411e-16]
0.21483620000000014

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:33: DeprecationWarning: time.clock has been deprecated in Python 3.3 and will be removed from Python 3.8: use time.perf_counter or time.process_time instead

In [5]:
# remove the feature under 0.01
import pandas as pd
import numpy as np

#x=[0,2,3,5,6,7]
w[w<0] = 0
w[w>=0] = 1
#print(w)
x=[]
for i in range(0, len(w)):
    if(w[i]==0):
        x.append(i)


df = pd.DataFrame(data)
X_new = df.drop(df.columns[x],axis=1)
X_new.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,3.0,0.822038,0.190381,1000.0,0.004815,19.031487,19.038129,0.809619,822.03750,177.96250,1440.0,90324.0,73128.0,130066560.0,105304320.0,0.146594,0.780936,0.001838,0.023455
1,9.0,0.275513,0.729111,100.0,0.004815,72.889036,72.911141,0.270889,27.55125,72.44875,1440.0,9048.0,2451.0,13029120.0,3529440.0,0.517669,0.242451,0.002236,0.460725
2,3.0,0.923707,0.090383,900.0,0.000633,9.035834,9.038339,0.909617,831.33600,68.66400,1440.0,81276.0,73930.0,117037440.0,106459200.0,0.058749,0.886758,0.001751,0.000000
3,9.0,0.368775,0.637710,100.0,0.000552,63.737843,63.770999,0.362290,36.87750,63.12250,1440.0,9048.0,3278.0,13029120.0,4720320.0,0.522922,0.324522,0.001776,0.439255
4,3.0,0.905217,0.108670,800.0,0.000497,10.864208,10.866977,0.891330,724.17375,75.82625,1440.0,72228.0,64379.0,104008320.0,92705760.0,0.076069,0.869009,0.001767,0.000000

In [6]:
from sklearn.model_selection import train_test_split
# splitting the dataset - dataset still contains class label
X_train, X_test, Y_train, Y_test = train_test_split(X_new, label, test_size=0.1, random_state=0)

from sklearn.svm import SVC
svc = SVC().fit(X_train, Y_train)
svc_pre = svc.predict(X_test)
acc_svc = sum(svc_pre==Y_test)/len(Y_test)
print(acc_svc)

0.9814814814814815

D:\Anaconda\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)