In [43]:
import pandas as pd 
import numpy as np
import os

In [1]:
def load_data(File):
    return pd.read_csv(File,header=None,sep = ',',index_col=False)

# Import The Data
original_data= load_data("E:/GENG5511 research/research/dataset/Forest-type-mapping.data")

# Take a Quick Look at the Data Structure
original_data.head()

# Get a overview of the data
original_data.info()

NameError: name 'pd' is not defined

In [17]:
pd.DataFrame(original_data).to_csv('E:/GENG5511 research/research/dataset/parkinsons.csv', index=False)

In [77]:
with open("E:/GENG5511 research/research/dataset/data_banknote_authentication.txt", 'r') as f:
    with open("E:/GENG5511 research/research/dataset/data_banknote_authentication.csv", 'w') as t:
        for lines in f:
            new_line = lines.replace(",",",")
            t.write(new_line)

In [78]:
original_data = pd.read_csv("E:/GENG5511 research/research/dataset/data_banknote_authentication.csv" )
original_data.info()
#original_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1371 entries, 0 to 1370
Data columns (total 5 columns):
3.6216      1371 non-null float64
8.6661      1371 non-null float64
-2.8073     1371 non-null float64
-0.44699    1371 non-null float64
0           1371 non-null int64
dtypes: float64(4), int64(1)
memory usage: 53.6 KB

In [5]:
with open("C:/Users/pc/Documents/adult.data", 'r') as f:
    with open("C:/Users/pc/Documents/adult123.data", 'w') as t:
        for lines in f:
            new_line = lines.replace(";",",")
            t.write(new_line)

In [4]:
original_data = pd.read_csv("C:/Users/pc/Documents/adult.data" )
original_data.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K